<h3>Binaria</h3>

<div id="BinariaTempo"></div>
<div id="BinariaEtapas"></div>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
    var urlBase = 'https://' + '@Context.Request.Host' + '@Context.Request.Path'
    </script>

    <script src="~/js/BinariaTempo.js"></script>
    <script src="~/js/BinariaEtapas.js"></script>
}