<h3>Linear</h3>
<div id="LinearTempo"></div>
<div id="LinearEtapas"></div>

@section Scripts{
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>
    var urlBase = 'https://' + '@Context.Request.Host' + '@Context.Request.Path'
    </script>

    <script src="~/js/LinearTempo.js"></script>
    <script src="~/js/LinearEtapas.js"></script>
}