@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Analise de Complexidade</h1>
    <br />
    <br />
    <h3>Projeto 01:</h3>
        <a href="Linear">1. Linear</a><br />

        <a href="Aninhados">2. Aninhados</a><br />

        <a href="Filtragem">3. Filtragem</a><br />

        <a href="Binaria">4. Binaria</a><br />
    <h3>Projeto 02:</h3>
        <a href="Hashing">5. Hashing</a><br />
    <h3>Projeto 03:</h3>
        <a href="Suicido">6. Suicido</a><br />

    
</div>
